<div class="row">
  <div class="col-xs-12">
    <img
      [src]="farmer.imagePath"
      alt="{{ farmer.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ farmer.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Farmer <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li> -->
        <li><a style="cursor: pointer;" (click)="onEditFarmer()">Edit Farmer</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteFarmer()">Delete Farmer</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ farmer.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let field of farmer.fields">
        {{ field.name }} - {{ field.amount }}
      </li>
    </ul>
  </div>
</div>
