<!--<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let field of fields; let i = index"
        (click)="onEditItem(i)"
      >
        {{ field.name }} ({{ field.amount }})
      </a>
    </ul>
  </div>
</div>
-->

<form [formGroup]="myForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">Cow ID</label>
    <input
        formControlName="name"
        id="name"
        type="text"
        class="form-control" #name>
    <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
        <div *ngIf="f.name.errors.required">ID is required.</div>
        <div *ngIf="f.name.errors.minlength">ID should be 3 character.</div>
    </div>
</div>
  <div class="form-group">
      <label for="file">File</label>
      <input
          formControlName="file"
          id="file"
          type="file"
          class="form-control"
          (change)="onFileChange($event)">
      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
          <div *ngIf="f.file.errors.required">File is required.</div>
      </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
  
  <div [style.visibility]="(fileLoaded == false) ? 'hidden' : 'visible' "> 
    <table [style.visibility]="(fileLoaded == false) ? 'hidden' : 'visible' ">
      <tr>
        <td>
        <div width="50%">
          <img [src]="imageSrc" *ngIf="imageSrc" style="width:500px"><br/>
        </div>
      </td>
      <td>
        <div width="50%" [style.visibility]="(analysed == false) ? 'hidden' : 'visible' ">
          Based on current and historical data, Cow {{ name.value }} seems to have :
          <ul>
            <li>dehydratation, and seems to have to much corn in her current diet
            </li>
          </ul>
          <b>Recommendation :</b><br/>
          For the upcoming day, cow {{ name.value }} should : <br/>
          <ul>
            <li>Have a diet based 50% on corn, 30% on grass, 20% on hay</li>
            <li>Give 20% more water</li>
          </ul>
          <br/>
          By doing this, compare to today, you will likely :
          <ul>
            <li>improve by 2% milk production</li>
            <li>Reduce by 10% compared methanes emissions</li>
          </ul>
        </div>
      
      </td>
    </tr>
  
</table> 
  </div>

</form>
