<!--<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let field of fields; let i = index"
        (click)="onEditItem(i)"
      >
        {{ field.name }} ({{ field.amount }})
      </a>
    </ul>
  </div>
</div>
-->

<form [formGroup]="myForm" (ngSubmit)="submit()">
  
  <div class="form-group">
      <label for="file">File</label>
      <input
          formControlName="file"
          id="file"
          type="file"
          class="form-control"
          (change)="onFileChange($event)">
      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
          <div *ngIf="f.file.errors.required">File is required.</div>
      </div>
  </div>
   
  <img [src]="imageSrc" *ngIf="imageSrc" style="width:500px"><br/>
       
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
